#import <Foundation/Foundation.h>
#import <GameKit/GameKit.h>
#import <dlfcn.h>

@interface GKLocalPlayer (PrivateGameCenterHook)
-(void)cancelAuthentication;
@end

%hook GKLocalPlayer

-(void)setAuthStartTimeStamp:(double)timestamp {
    if ([self respondsToSelector:@selector(cancelAuthentication)]) {
        [self cancelAuthentication];
    }
    %orig(timestamp);
}

%end

%ctor {
    NSLog(@"[GameCenterBypass] Loaded!");
}
